.animate_cart {
  animation: animate 300ms ease-out;
}

@keyframes animate {
  0% {
    scale: 1;
  }
  20% {
    scale: 0.8;
  }

  30% {
    scale: 1.1;
  }
  50% {
    scale: 1.7;
  }

  100% {
    scale: 1;
  }
}
