@import "tailwindcss";

body {
  font-family: Rubik, Arial, serif;
  @apply bg-gray-50;
}

/* Font Family*/
@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-Black.ttf");
  font-weight: 900;
}
@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Rubik;
  src: url("/assets/fonts/Rubik-Light.ttf");
  font-weight: 200;
}

.change-color a.active {
  @apply bg-slate-950 text-slate-50;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.popular-ctagory-liks::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 4px;
  background-color: orange;
  width: 0%;
  transition: all 300ms ease-in-out;
}

.popular-ctagory-liks:hover,
.popular-ctagory-liks.active {
  color: orange;
}

.popular-ctagory-liks.active::after,
.popular-ctagory-liks:hover::after {
  width: 100%;
}
